.form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}
/* Responsive adjustments */
.button-link {
    display: inline-block; /* Or 'block' if you want each button on a new line */
    /* Other styling for buttons */
}

@media (max-width: 600px) {
    .button-link {
        width: 100%; /* Make buttons full width on smaller screens */
        margin: 3px 0; /* Add some space between buttons */
    }

    /* Your existing responsive adjustments for .container and .form */
    .container, .form {
        width: calc(100% - 20px); /* Slightly smaller than the screen width */
    }
}